<component name="libraryTable">
  <library name="log4j">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/log4j.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://$PROJECT_DIR$/lib/apache-ant-1.9.6-bin.zip!/apache-ant-1.9.6/manual/api" />
    </JAVADOC>
    <SOURCES />
  </library>
</component>